

*{
	border: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family:'Roboto Condensed', sans-serif; 
}

.wrap {
	margin: auto;
}

.container {
	max-width:1024px;
	width:100%;
	margin:auto;
}
header h1 img {
	width: 140px;
}

.popup {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);

	@media only screen and (min-width : 40em) {
	}

	&>div {
		width:50%;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);

		img{
			display: block;
			width: 100%;
		}
		h1{
			text-align: center;
			color: #f3f3f3;
			padding-top: 0.5em;
		}
	}
}

nav{
	text-align:center;
	
	header {
		padding: 3em 0;
	}

	.navigation {
		display: block;

		li {
			display:inline-block;
			padding: 0 1em;
			@media only screen and (min-width : 40em) {
				padding: 0 2em;
			}
		}
		li a {
			display:inline-block;
			position: relative;
			color: #eaa0ab; 
			font-size: 15px;
			text-decoration: none;
			@media only screen and (min-width : 40em) {
				font-size: 23px;
			}
		}
		li a:hover{
			color: #c9adc9;
		}
		li a:before{
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			width: 0;
			height: 100%;
			border-bottom: 2px solid #c9adc9;
			transition: 0.3s all ease-in-out;
		}
		li a:hover:before{
			color: #F9E1CF;
			width: 100%;
		}
	}	
}

#Portfolio {
	padding-top: 70px;
}

.portfolio {
	// display:flex;
	// flex-flow:row wrap;

	li {
		overflow:hidden;
		width:25%;

		&.grid-sizer{
			width:25%;
		}
		&.grid-double-width{
			width:50%;
		}
		&.grid-double-height{

		}

		.description{
			display: none;
		}

		img {
			display:block;
			width:100%;
		}
	}	
}







/*All devices and mobile phone*/


/*for small tablet - inclusive*/

@media only screen and (min-width : 40em) {
}



/*for tablet - inclusive*/

@media only screen and (min-width : 60em) {
}



/*for destop - inclusive*/

@media only screen and (min-width : 80em) {
}