

*{
	border: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.wrap {
	margin: auto;
}

.container {
	max-width:1024px;
	width:100%;
	margin:auto;
}

.popup {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);

	@media only screen and (min-width : 40em) {
	}

	img {
		height:50%;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
}

nav{
	text-align:center;
	
	header {
		padding: 3em 0;
	}

	.navigation {
		display: block;

		li {
			display:inline-block;
			padding: 0 1em;
		}
	}
}

#Portfolio {
	padding-top: 70px;
}

.portfolio {
	// display:flex;
	// flex-flow:row wrap;

	li {
		overflow:hidden;
		width:25%;

		&.grid-sizer{
			width:25%;
		}

		&.grid-double-width{
			width:50%;
		}
		&.grid-double-height{

		}

		img {
			display:block;
			width:100%;
		}
	}	
}







/*All devices and mobile phone*/


/*for small tablet - inclusive*/

@media only screen and (min-width : 40em) {
}



/*for tablet - inclusive*/

@media only screen and (min-width : 60em) {
}



/*for destop - inclusive*/

@media only screen and (min-width : 80em) {
}